WEB_PORT=3000
API_PORT=3001
MEDIAMTX_SRT_PORT=8890
MEDIAMTX_HLS_PORT=8888

POSTGRES_PASSWORD=streampass

JWT_SECRET=change-this-to-random-32-chars-in-production

SUPERADMIN_LOGIN=admin
SUPERADMIN_PASSWORD=changeme

NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
